@import url('./main.css');
@import url('./linijos.css');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
 }
 :root{
    --padding1: 0.5rem;
    --padding2: 1rem;
    --padding3: 1.5rem;
    --padding4: 2rem;
    --padding-sides: 0 20rem;
 
    --margin1: 0.5rem;
    --margin2: 1rem;
    --margin3: 1.5rem;
    --margin4: 2rem;
 
 
    --size-mobile: 576px;
    --size-desktop: 1400px

 }