.gem{
    width: 80px;
    height: 80px;
    border: 1.5px solid white;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 120px auto 20px;
}
@media (min-width: 576px){
    .gem{
        margin-top: 250px;
    }
}
.gem > img{
    width: 25px;
    height: 25px;
}
.verticalLine{
    border-left: 1px solid white;
    height: 41px;
    position: absolute;
    left: 50%;
    transform: translateY(-20px);
}
.horizontalLine{
    width: 97%;
    margin: 0 auto;
    color: white;
    height: 1.5px;
    border: 0;
    border-top: 1px solid white;
}
.bottomVerticalLine{
    border-left: 1px solid white;
    height: 41px;
    position: absolute;
    left: 50%;
    transform: translateY(-1px);
}
