#mainPage{
    width: 100%;
    height: 100vh;
    padding: 0 3px;
}
@media (min-width: 576px){
    #mainPage{
        padding: 0 48px;
    }
}
.bg2{
    background: rgba(0, 0, 0, .35) url(../resources/bg.jpg);
    background-position: center;
    background-size: cover;
    background-blend-mode: darken;
    opacity: 0.95;
}
.bg1{
    background-image: url(../resources/bg-overlay.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.text{
    text-align: center;
    letter-spacing: 4px;
    text-transform: uppercase;
    color: white;
    font-size: larger;
    font-family: sans-serif;
    padding-top: 21px;
}
.text > h1{
    margin: 30px 0 20px;
    font-weight: 500;
    font-size: 30px;
}
.text > p{
    margin:30px 15px 30px;
    text-align: justify;
    line-height: 40px;
    font-weight: 100;
}
@media (min-width: 576px){
    .text > p{
        text-align: center;
    }
}
.text > p > a{
    color: white;
    text-decoration-style: dotted;
    text-decoration-thickness: 0.95px;
    overflow: hidden;
    text-underline-offset: 5px;
}
.menu{
    margin-bottom: 20px;
}
.menu > ul{
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    padding-top: 40px;
}
@media (min-width: 576px){
    .menu > ul{
        flex-direction: row;
        width: 50%;
        margin: 0 auto;
    }
}
.menu > ul > a{
    width: 97%;
    height: 40px;
    border: 1px solid white;
    text-decoration: none;
    line-height: 40px;
    color: white;
    font-weight: 100;
    padding: 0 10px;
}
@media (min-width: 576px){
    .menu > ul > a{
        height: 60px;
        line-height: 60px;
    }
}
.menu > ul :first-child{
    border-radius: 5px 0 0 5px;
}
.menu > ul :last-child{
    border-radius: 0 5px 5px 0;
}