#mainPage{
    width: 100%;
    height: 100vh;
}
.bg2{
    background: rgba(0, 0, 0, .35) url(../resources/bg.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-blend-mode: darken;
    opacity: 0.95;
}
.bg1{
    background-image: url(../resources/bg-overlay.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.text{
    text-align: center;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: white;
    font-size: larger;
    font-family: sans-serif;
    padding-top: 21px;
}
.text > h1{
    margin: 20px 0 20px;
}
.text > p{
    margin:0 10px 20px;
    text-align: justify
}
.text > p > a{
    color: white;
}
.menu{
    margin-bottom: 20px;
}
.menu > ul{
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    padding-top: 40px;
}
.menu > ul > a{
    width: 80%;
    height: 40px;
    border: 1px solid white;
    text-decoration: none;
    line-height: 40px;
    color: white;
}
.menu > ul :first-child{
    border-radius: 5px 0 0 5px;
}
.menu > ul :last-child{
    border-radius: 0 5px 5px 0;
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
 }
 :root{
    --padding1: 0.5rem;
    --padding2: 1rem;
    --padding3: 1.5rem;
    --padding4: 2rem;
    --padding-sides: 0 20rem;
 
    --margin1: 0.5rem;
    --margin2: 1rem;
    --margin3: 1.5rem;
    --margin4: 2rem;
 
 
    --size-mobile: 576px;
    --size-desktop: 1400px

 }
